.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.galeria img {
    width: 30%;
    border: 1px solid rgb(0, 0, 0);
    padding: 0.2em;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-right: 2px;
    cursor: pointer;
}

.agrandar {
    margin: 30px 30px;
    background: #676470;
    transition: all 0.5s ease;
}

.agrandar:hover {
    transform: scale(3.0);
    /* position: center; */
     
}
