.bienvenido {
    text-align: center;
    margin: 40px;
    font-size: 32px;
    font-family: 'Playfair Display', serif;
}

.xdestacado {
    font-size: 25px;
    color: orange;
    font-weight: bold;
    font-family: 'Kaushan Script', cursive;
}

.home {
    
    padding-right: 10px;
    padding-left: 8px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;

}

.contenedor {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}



/* inicio Home media*/

@media screen and (min-width: 50px) and (max-width: 800px) {

    .contenedor {
        display: flex;
        flex-direction: column;
    }

    .bienvenido {
        padding-left: 8px;
        box-sizing: border-box;
    }
}

/* Fin Home media*/